* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    font: 16px/1.5 Verdana, sans-serif;
}

body, html {
    font: inherit;
    background-color: #ffdede;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 1200px;
    justify-content: center;
    margin: 1em auto 0;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
    border-radius: 0.5em;
    padding: 2em;
}

.name {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 15em;
    margin-bottom: 1em;
}

#name-2 {
    color: #449399;
    font-weight: bold;
}

.first-title {
    display: flex;
    padding-top: 1em;
    padding-left: 15em;
    background-color: #313c4e;
    color: white;
    height: 8em;
    position: relative;
}

.first-title::before {
    content: '';
    position: absolute;
    left: 2.5%;
    top: -10%;
    transform: translateY(-50%);
    background-color: red; /* Примерен цвят за тест */
    padding: 5.5em;
    border-radius: 50%;
    background-image: url('images/pic.jpg'); /* Замени със своя път към снимката */
    background-size: cover; /* За да запълни напълно */
    background-position: 70% 15%;
    border: 5px solid #313c4e;
    z-index: 1;
}

.first-title::after {
    content: '';
    position: absolute;
    left: 2.75%;
    top: -9%;
    padding: 5.4em;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 3px solid #449399; /* Втори бордър (външен) */
    z-index: 2;
}


.second-title {
    display: flex;
    height: 9em;
    gap: 15em;
    line-height: 1.5;
    background-color: #449399;
    color: white;
    padding: 1em;
}

.second-title .left-side {
    margin-left: 1.5em;
}

.first-title {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.second-title {
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.second-title .left-side,
.second-title .right-side {
    display: flex;
    flex-direction: column;
    gap: 8px; /* Разстояние между редовете */
}

.left-side p, .right-side p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1em;
}

#ls-1::before,
#ls-2::before,
#ls-3::before,
#rs-1::before,
#rs-2::before,
#rs-3::before {
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;
    background-size: cover;
    margin-right: 8px;
}

#ls-1::before {
    background-image: url('images/icons8-email-48.png');
}

#ls-2::before {
    background-image: url('images/icons8-address-64.png');
}

#ls-3::before {
    background-image: url('images/icons8-linkedin-100.png');
}

#rs-1::before {
    background-image: url('images/icons8-phone-100.png');
    color: white;
}

#rs-2::before {
    background-image: url('images/icons8-website-48.png');
}

#rs-3::before {
    background-image: url('images/icons8-github-64.png');
}


